<table class="w-full">
  <tr>
    <td>
      <x-image
        class="w-[580px] px-[20px] xs:px-[0px] xs:w-full"
        imgUrl="image-3.png"
        alt="img3"
      />
    </td>
  </tr>
  <tr>
    <td class="pl-[50px] pr-[50px] pt-[30px] pb-[20px] text-[24px] leading-[28px] text-[#005555] text-center xs:px-[20px] font-bold">
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <tr>
    <td class="pl-[30px] pr-[30px] pb-[20px] text-[16px] leading-[20px] text-[#444444] text-center xs:px-[20px] font-normal">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="align-center-table pb-[46px]">
      <x-button
        width="350"
        height="46"
        leading="16"
        rounded="10"
        bgColor="#008080"
        borderColor="#008080"
        href="#"
        class="font-bold text-[#ffffff] !text-[20px] !leading-[24px] xs:w-[335px]"
      >
        Ut enim ad minim veniam
      </x-button>
    </td>
  </tr>
</table>
