<!-- section 4 html starts -->
 <table>
  <tr>
    <td class="pb-[44px] xs:pb-[37px] px-[20px] w-full bg-[#F0F5F5]">
      <table class="bg-[#F0F5F5] align-center-table w-full">
        <tr>
          <td class="w-full">
            <table class="w-full align-center-table bg-[#F0F5F5]">
              <tr>
                <td class="align-center-table xs:block xs:w-full w-[270px] p-[25px] bg-[#ffffff]">
                  <table class="w-full align-center-table">
                    <tr>
                      <td class="text-center">
                        <x-image
                          class="max-w-[100px] w-[100px] pointer-events-none"
                          imgUrl="image-3.png" alt="img3"
                          href="#"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center text-[#005555] text-[20px] font-bold leading-[24px] py-[15px]">
                        Nisi ut ade
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center text-[#444444] text-[16px] leading-[19px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam.
                        <span class="text-[#444444] text-[8px] [line-height:0] [vertical-align:5px]">1</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="xs:block xs:w-full w-[20px] h-[20px] xs:h-[35px] bg-[#F0F5F5]"></td>
                <td class="p-[25px] xs:block xs:w-full w-[270px] align-center-table  bg-[#ffffff]">
                  <table class="w-full align-center-table">
                    <tr>
                      <td class="text-center">
                        <x-image
                          class="w-[100px] pointer-events-none max-w-[100px]"
                          imgUrl="image-3.png"  alt="img3"
                          href="#"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="font-bold text-[#005555] text-[20px] text-center py-[15px] leading-[23px]">
                        Duis aute irure
                      </td>
                    </tr>
                    <tr>
                      <td class="text-[#444444] text-[16px] text-center leading-[19px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam.
                        <span class="text-[#444444] text-[9px] [line-height:0] [vertical-align:5px]">2</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
 </table>

<!-- section 4 html ends -->
