<!-- section 5 html starts -->
<table class="w-full">
  <tr>
    <td class="px-[20px]">
      <table>
        <tr>
          <td class="text-left text-[#444444] text-[12px] leading-[16px] pt-[35px] pb-[20px] font-bold">
            Ut enim ad minim:
          </td>
        </tr>
        <tr>
          <td class="text-left text-[#000000] text-[12px] leading-[16px] pb-[15px] font-normal">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr>
          <td class="text-left text-[#000000] text-[12px] leading-[16px] pb-[15px] font-normal">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </td>
        </tr>
        <tr>
          <td class="text-left text-[#000000] text-[12px] leading-[16px] pb-[15px] font-bold">
            Sint occaecat cupidatat:
          </td>
        </tr>
        <tr>
          <td class="text-left text-[#000000] text-[12px] leading-[16px] pb-[3px] font-normal">
            1. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </td>
        </tr>
        <tr>
          <td class="text-left text-[#000000] text-[12px] leading-[16px] pb-[15px] font-normal">
            2. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          </td>
        </tr>
        <tr>
          <td class="bg-[#002B2B] h-[1px] w-[580px] text-center">
            <!-- border line -->
          </td>
        </tr>
        <tr>
          <td class="text-center text-[#000000] text-[12px] leading-[16px] py-[21px] font-normal">
            Sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>
        <tr>
          <td class="text-center pb-[20px]">
            <x-image
              class="w-[100px]"
              imgUrl="image-5.jpg"
              alt="img1"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- section 5 html ends -->
