<!-- section 1 html start -->
<table>
  <tr>
    <td class="w-full py-[20px] pr-[20px] pl-[20px] align-middle">
      <table class="align-center-table">
        <tr>
          <td class="w-[110px]">
            <x-image
              class="w-[110px]"
              imgUrl="image-1.png"
              alt="img1"
            />
          </td>
          <td class="w-[23px]"></td>
          <td class="w-[467px] text-[12px] leading-[16px] text-[#002B2B] text-left xs:pl-[15px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            <br class="xs:hidden">
            laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- section 1 html ends -->
